<p>To complete your Koala registration, please follow the link below:</p>

<p><%= link_to registration_path %><%= @registrant.code %></a></p>

<p>This link will expire at <%= @registrant.expires_at %>.</p>

<p>If you received this message in error, simply do nothing.</p>

<p>The Koala server</p>