<div id="holder"></div>
<!--  -->
<script id="template" type="text/template">
	<div id="messageWindow">
		{{#messages}}
			<li><span class="user_name">{{ user.first_name }} {{user.last_name}}</span> : {{ text }}</li>
		{{/messages }}
	</div>
	<div class="message_field">
		<div id="message_form">
		 	<input type="text" id="message_field" placeholder="Type Here">
			<button type="button" class="btn message-btn" data-user_id = <%= current_user.id %>>send
			</button>
		</div>
	</div>

</script>

<%= javascript_tag do %>
	pusher_key = '<%= j ENV['PUSHER_KEY'] %>';
<% end %>


