#messageWindow{
	margin: 0 auto;
	max-height: 560px;
	max-width: 767px;
	border:4px solid #EBEBEB;
	overflow-y: scroll
	
}

#messageWindow li {
	list-style-type: none; 
	padding: 5px;
}

#messageWindow li:nth-child(even){
	background:#EBEBEB; 
}
.user_name{
	font-weight: bold;
	padding:5px;
}
.message_field{
	width: 700px;
	margin:0 auto;
}
#chat_room_bubble img{
	height:40px;
	width:40px;
	margin-left: 0;
}
#chat_room_bubble{
	/*border-top:1px solid #ffde4f;*/
	/*border-bottom:1px solid #ffde4f;
	width:100%;
	*/
}
#chat_partial{
	width:100%;
	border-bottom:1px solid #ffde4f;
}

img{
	/*margin:0 auto;*/
	margin-left: 90px;

}

input#message_field{
	padding: 9px 0px 9px 6px;
	height:20px;
	width:92%;

}
#btn-primary-message{
	width:6%;
	background-color:#13a8ee;
	border-radius: 4px; 
	padding:4px 0px 9px 25px;
	height:35px;
}
#sign_in_container{
	width:500px;
	margin: 0 auto;
}
input.btn.btn-primary{
	width:473px;
	height:45px;
	/*background-color: #6cddff;*/
	font-size: 24px;
}
.btn-primary:hover{
	color:white;
	/*background: #ffde4f;*/
	/*background:#6cddff;*/
}
input#user_email.email, input#user_password.password, input#registrant_email.email, input#user_first_name, input#user_last_name{
	height:45px;
	width:465px;
	font-size: 18px;
}
input#registrant_email.email{
	font-size: 21px;
}
.icon-arrow-right{
	color:#EBEBEB;
}
a, a:hover{
	text-decoration: none;
}
a.brand{
	text-decoration: none;
	padding-left: 33px;
	margin: 6px 17px 0 0;
	font-size: 18px;
}
html,
body {
  font-size: 100%; 
  font-family: 'Anton', sans-serif;
}


header{
 	background: #1FAEF2;
 	height: 43px;
 	margin-bottom: 15px;
 	width:100%;
} 

.email{
	width:200px;
}
nav.menu_right{
	float: right;
	font-size: 1.1em; }

nav>ul>li {
	display: block;
	float: left;
	color: white;
	margin: 6px 17px 0 0;
	text-decoration: none; 
}

.brand-message h2, .me-message h2{
	text-align: center;
	margin-bottom: 50px;
	font-family: 'Anton', sans-serif;
	font-weight: normal; 
}

.image-wrapper img{
	display: block;
	margin: 0 auto; }

.image-wrapper h4{
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-weight: normal; 
}

.form-area{
	max-width: 32rem;
	/*margin: 4rem auto 4rem; */
}

.form-area h2 {
	font-family: 'Anton', sans-serif;
	font-weight: normal; 
}

.sign_in{
	margin-top: 13px; 
}

.forgot_password{
	text-align: right;
	font-size: .92em; 
}	

textarea{
	margin: 0 0 1em 0; 
}

#form_text_header{
	color: black;
	text-decoration: underline; }