#messageWindow{
	margin: 0 auto;
	max-height: 600px;
	max-width: 767px;
	border:4px solid #EBEBEB;
	overflow-y: scroll
	
}

#messageWindow li {
	list-style-type: none; 
	padding: 5px;
}

#messageWindow li:nth-child(even){
	background:#EBEBEB; 
}
.user_name{
	font-weight: bold;
	padding:5px;
}
.message_field{
	width: 700px;
	margin:0 auto;
}
input#message_field{
	padding: 9px 0px 9px 47px;
	height:20px;
	width:86%;
}
#btn-primary-message{
	width:6%;
	background-color:#13a8ee;
	border-radius: 4px; 
	padding:4px 0px 9px 25px;
	height:35px;
}
.icon-arrow-right{
	color:#EBEBEB;
}
html,
body {
  font-size: 100%; }

body {
  /*padding: 0;
  margin: 0;*/
  /*font-family: Georgia, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;*/
  /*position: relative;
  cursor: default; */
}

header{
 	background: #1FAEF2;
 	height: 46px;
 	margin-bottom: 15px;
 	/*-webkit-box-shadow: 0px 6px 15px rgba(50, 50, 50, 0.32);
  	-moz-box-shadow: 0px 6px 15px rgba(50, 50, 50, 0.32);
  	box-shadow: 0px 6px 15px rgba(50, 50, 50, 0.32); */
} 

.email{
	width:200px;
}
nav.menu_right{
	float: right;
	font-size: 1.1em; }

nav>ul>li {
	display: block;
	float: left;
	color: white;
	margin: 15px 17px 0 0; }

.brand-message h2, .me-message h2{
	text-align: center;
	margin-bottom: 50px;
	font-family: 'Anton', sans-serif;
	font-weight: normal; 
}

.image-wrapper img{
	display: block;
	margin: 0 auto; }

.image-wrapper h4{
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-weight: normal; 
}

.form-area{
	max-width: 32rem;
	/*margin: 4rem auto 4rem; */
}

.form-area h2 {
	font-family: 'Anton', sans-serif;
	font-weight: normal; 
}

.sign_in{
	margin-top: 13px; 
}

.forgot_password{
	text-align: right;
	font-size: .92em; 
}	

textarea{
	margin: 0 0 1em 0; 
}

#form_text_header{
	color: black;
	text-decoration: underline; }